@charset "UTF-8";
/* Fonts */
@font-face {
  font-family: sf-ui-displaymedium;
  src: url(../fonts/SFUIDisplay-Medium.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: sf-ui-displayregular;
  src: url(../fonts/SFUIDisplay-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: sf-ui-displaylight;
  src: url(../fonts/SFUIDisplay-Light.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: sf-ui-displayultralight;
  src: url(../fonts/SFUIDisplay-Ultralight.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: sf-ui-displaythin;
  src: url(../fonts/SFUIDisplay-Thin.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: proximanova-black;
  src: url(../fonts/ProximaNova-Black.eot);
  src: url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype"), url("../fonts/ProximaNova-Black.svg#webfont") format("svg");
  font-style: normal;
}
.body {
  margin: 0;
  width: 100%;
  font-family: 'sf-ui-displaythin', Arial, sans-serif;
  font-size: 22px;
  color: #707070;
  overflow-x: hidden;
  counter-reset: sections-counter;
}

.link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.link-with-hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.link-with-hover:hover {
  color: #fcdb04;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9c9c9c;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9c9c9c;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #9c9c9c;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #9c9c9c;
}

.counter-header {
  display: inline-block;
  position: relative;
  margin: 0 0 20px 0;
  padding-left: 53px;
  font-family: 'sf-ui-displaythin', Arial, sans-serif;
  font-size: 42px;
  font-weight: 300;
  z-index: 0;
}
.counter-header .header-span:before {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: -1;
  font: 65px proximanova-black, Arial, sans-serif;
  color: #eeeeef;
  counter-increment: sections-counter;
  content: "0" counter(sections-counter);
}

.subheader {
  position: relative;
  margin: 0 0 52px 0;
  font-family: 'sf-ui-displaylight', Arial, sans-serif;
  font-size: 31px;
  color: #6a6a6a;
  letter-spacing: 1px;
}

h4 {
  margin: 0 0 10px 0;
  font-family: 'sf-ui-displayregular', Arial, sans-serif;
  font-size: 17px;
  color: #969696;
}

p {
  margin: 0 0 32px;
  line-height: 32px;
}

.green {
  color: #48a136;
}

.box {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1240px;
}
.container.image-right {
  margin-left: auto;
  margin-right: 9.5%;
}
.container.image-right .image {
  padding: 8px 0 0 40px;
}
.container.image-left {
  margin-left: 11.9%;
  margin-right: auto;
}
.container.image-left .image {
  padding: 8px 40px 0 0;
}

.content-with-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content-with-image-wrapper .image {
  max-width: 100%;
}

.header {
  background-color: #f4f4f6;
}
.header__top {
  background-color: rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.header__navigation-top {
  padding: 6px 0 9px 0;
  text-align: right;
}
.header__navigation-top-link {
  padding-bottom: 7px;
  margin-left: 25px;
  border-bottom: 3px solid transparent;
  font-family: 'sf-ui-displayregular', Arial, sans-serif;
  font-size: 16px;
  color: #302c2d;
}
.header__navigation-top-link:hover {
  border-bottom-color: #fcdb04;
}
.header__bottom-inside-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 18px 0;
}
.header__logo-link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  font-size: 0;
}
.header__navigation-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 10px;
}
.header__navigation-bottom-link {
  margin-right: 45px;
  padding: 20px 0;
  font-family: 'sf-ui-displayregular', Arial, sans-serif;
  font-size: 19px;
  border-bottom: 5px solid transparent;
  color: #7c7c7c;
}
.header__navigation-bottom-link:hover {
  border-bottom-color: #fcdb04;
}
.header__phone {
  position: relative;
  font-family: 'sf-ui-displaylight', Arial, sans-serif;
  font-size: 30px;
  color: #7c7c7c;
}
.header__mobile {
  display: none;
  padding: 40px 0 42px 0;
}
.header__mobile-box {
  position: relative;
}
.header__mobile-phone-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: 21px 45px 0 0;
}
.header__hamburger {
  position: absolute;
  top: 23px;
  right: 0;
  background: none;
  border: none;
  font-size: 23px;
  color: #211e1f;
  -webkit-transform: scale(1.5, 1);
          transform: scale(1.5, 1);
  cursor: pointer;
  outline: none;
}

.intro {
  padding-bottom: 447px;
  background: url(../img/bridge.png) -17px 70px no-repeat #f4f4f6;
}
.intro__box {
  max-width: 700px;
  margin: 0 auto;
  padding: 80px 0 0;
}
.intro__header {
  margin: 0 0 30px 0;
  font-family: 'sf-ui-displayultralight', Arial, sans-serif;
  font-size: 55px;
  letter-spacing: 1px;
}
.intro__list {
  padding-left: 20px;
  list-style-type: disc;
}
.intro__list-item {
  padding-bottom: 24px;
}
.intro__devices {
  position: absolute;
  right: 9.5%;
  width: 873px;
  height: 616px;
  background: url(../img/devices.png) 3px 15px no-repeat;
}

.mobile__list {
  display: none;
  padding: 50px 0 0 0;
  text-align: center;
  list-style-type: none;
}
.mobile__list-item {
  position: relative;
  padding-bottom: 50px;
}
.mobile__list-item:before {
  position: absolute;
  top: -15px;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  content: '';
  background-color: #707070;
}

.situation {
  padding-top: 196px;
  padding-bottom: 110px;
}

.task {
  padding-top: 88px;
  padding-bottom: 22px;
  background-color: #f5f7f9;
}
.task__header-span:before {
  color: #e9eaec;
}
.task__targets {
  margin: 0 0 65px 0;
}
.task__blocks-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.task__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(50% - 40px);
      flex-basis: calc(50% - 40px);
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.task__icon {
  width: 62px;
  height: 56px;
  margin-bottom: 20px;
  background: 50% 50% no-repeat;
}
.task__icon-text {
  margin: 0 0 64px 0;
}
.task .task-icon-1 {
  background-image: url(../img/task-icon-1.svg);
}
.task .task-icon-2 {
  background-image: url(../img/task-icon-2.svg);
}
.task .task-icon-3 {
  background-image: url(../img/task-icon-3.svg);
}
.task .task-icon-4 {
  background-image: url(../img/task-icon-4.svg);
}

.solution {
  padding-top: 86px;
  padding-bottom: 134px;
}
.solution__header {
  margin-bottom: 56px;
  padding-left: 45px;
}
.solution__header--underlined:after {
  position: absolute;
  top: 65px;
  left: 0;
  content: '';
  width: 55px;
  height: 2px;
  background-color: #48a136;
}

.informational-service {
  padding-bottom: 103px;
}
.informational-service__shifted-header-wrapper {
  padding-left: 556px;
}
.informational-service__header--underlined {
  margin: 0 0 47px 0;
}
.informational-service__header--underlined:after {
  position: absolute;
  bottom: -26px;
  left: 0;
  content: '';
  width: 55px;
  height: 2px;
  background-color: #48a136;
}

.help {
  padding-bottom: 104px;
}
.help__header--underlined {
  margin: 0 0 47px 0;
}
.help__header--underlined:after {
  position: absolute;
  bottom: -26px;
  left: 0;
  content: '';
  width: 55px;
  height: 2px;
  background-color: #48a136;
}

.integration {
  padding-bottom: 150px;
}
.integration__shifted-header-wrapper {
  padding-left: 556px;
}
.integration__header--underlined {
  margin: 0 0 47px 0;
}
.integration__header--underlined:after {
  position: absolute;
  bottom: -25px;
  left: 0;
  content: '';
  width: 55px;
  height: 2px;
  background-color: #48a136;
}

.result {
  padding: 86px 0 79px 0;
  background-color: #f5f5f7;
}
.result__header {
  margin: 0 0 52px 0;
}
.result__header-span:before {
  color: #e3e4e8;
}

.feedback {
  padding: 86px 0 215px 0;
}
.feedback__header {
  margin: 0 0 46px 0;
}
.feedback__customer-photo {
  padding: 8px 0 0 0;
}
.feedback__quote-box {
  position: relative;
}
.feedback__quote-text {
  padding: 0 107px;
  max-width: 400px;
}
.feedback__quote-text:before {
  position: absolute;
  top: -5px;
  left: 58px;
  content: '“';
  font: 80px Georgia, sans-serif;
  color: #eceff2;
}
.feedback__quote-text:after {
  position: absolute;
  right: 55px;
  content: '”';
  font: 80px Georgia, sans-serif;
  color: #eceff2;
}
.feedback__quote-author {
  padding-left: 107px;
  font-family: 'sf-ui-displaymedium', Arial, sans-serif;
}

.footer__top {
  position: relative;
  padding: 76px 0 35px 0;
  color: #d9d9d9;
  background: url(../img/footer-background.png) center top no-repeat #010000;
  overflow: hidden;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__contacts {
  display: inline-block;
  width: 500px;
  margin-right: 100px;
  z-index: 2;
}
.footer__contacts p {
  margin: 0 0 27px 0;
  font-family: 'sf-ui-displaylight', Arial, sans-serif;
}
.footer__contact-top {
  margin: 0 0 35px 0;
  max-width: 355px;
}
.footer__contact-bottom {
  position: relative;
  padding-top: 35px;
}
.footer__contact-bottom:before {
  position: absolute;
  top: 0px;
  left: 0;
  content: '';
  width: 355px;
  height: 1px;
  background-color: rgba(225, 225, 225, 0.2);
}
.footer__bottom-address {
  max-width: 355px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}
.footer__phone {
  font-family: 'sf-ui-displayregular', Arial, sans-serif;
  font-size: 26px;
  color: #d9d9d9;
}
.footer__buttons {
  display: inline-block;
}
.footer__buttons .social-button {
  margin-left: 20px;
  font-family: 'sf-ui-displayregular', Arial, sans-serif;
  font-size: 13px;
  border-radius: 2px;
  padding: 9px 25px;
  border: 1px solid #969696;
  color: #969696;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.footer__buttons .social-button:hover {
  background-color: #fcdb04;
  color: #444343;
  border-color: #fcdb04;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.footer__form {
  display: inline-block;
  max-width: 445px;
  z-index: 2;
}
.footer__form-header {
  margin: 0 0 25px 0;
  font-family: 'sf-ui-displayultralight', Arial, sans-serif;
  font-size: 22px;
  color: #d9d9d9;
  letter-spacing: 1px;
}
.footer__form-input {
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'sf-ui-displayregular', Arial, sans-serif;
  font-size: 16px;
  color: #9c9c9c;
  background-color: rgba(93, 93, 93, 0.7);
  border: none;
  border-radius: 3px;
  outline: none;
}
.footer__form-textarea {
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'sf-ui-displayregular', Arial, sans-serif;
  font-size: 16px;
  color: #9c9c9c;
  background-color: rgba(93, 93, 93, 0.7);
  border: none;
  border-radius: 3px;
  outline: none;
  margin-bottom: 35px;
  height: 100px;
  resize: none;
}
.footer__submit-button {
  padding: 15px 40px;
  font-family: 'sf-ui-displayregular', Arial, sans-serif;
  font-size: 17px;
  color: #444343;
  background-color: #fcdb04;
  border: none;
  border-radius: 3px;
}
.footer__bottom {
  padding: 24px 0 24px 0;
  background-color: #000000;
  text-align: center;
}
.footer__bottom-text {
  font-family: 'sf-ui-displayregular', Arial, sans-serif;
  font-size: 16px;
  color: #969696;
}
.footer__map {
  position: absolute;
  width: 702px;
  height: 451px;
  top: 0;
  right: 20%;
  background: url(../img/map.png) 0 0 no-repeat;
}

@media screen and (max-width: 1340px) {
  .box {
    width: auto;
    margin-left: 70px;
    margin-right: 70px;
  }
}
@media screen and (max-width: 1447px) {
  .container.image-right {
    margin-left: 70px;
    margin-right: 20px;
  }
  .container.image-left {
    margin-left: 20px;
    margin-right: 70px;
  }
}
@media screen and (max-width: 1680px) {
  .intro {
    padding-bottom: 567px;
    background: url(../img/bridge-medium.png) 0 165px no-repeat #f4f4f6;
  }
}
@media screen and (max-width: 1195px) {
  .body {
    font-size: 20px;
  }

  .subheader {
    font-size: 28px;
  }

  .header__top, .header__bottom {
    display: none;
  }
  .header__mobile {
    display: block;
  }
  .header__phone {
    color: #211e1f;
  }

  .intro {
    padding-bottom: 601px;
  }
  .intro__header {
    margin: 0 0 34px 0;
    font-size: 42px;
  }
  .intro__box {
    max-width: 525px;
    padding: 33px 0 0;
  }
  .intro__devices {
    position: absolute;
    right: 0;
    width: 727px;
    height: 569px;
    background: url(../img/devices-medium.png) 17px 78px no-repeat;
  }

  .situation {
    padding-top: 128px;
  }

  .content-with-image-wrapper .image {
    max-width: 340px;
  }

  .informational-service__shifted-header-wrapper {
    padding-left: 380px;
  }

  .integration__shifted-header-wrapper {
    padding-left: 380px;
  }
}
@media screen and (max-width: 1110px) {
  .footer__social {
    display: block;
  }
  .footer__buttons {
    display: block;
    margin-top: 35px;
  }
  .footer .social-button:first-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 980px) {
  .task__container {
    padding-right: 50px;
  }
  .task__image {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  .intro__list {
    display: none;
  }

  .mobile__list {
    display: block;
  }

  .footer__top {
    background: url(../img/footer-background-small.png) center top no-repeat #010000;
    background-size: cover;
  }
  .footer__map {
    display: none;
  }
  .footer__wrapper {
    display: block;
  }
  .footer__contacts, .footer__form {
    display: block;
    margin-right: 0;
    width: auto;
  }
  .footer__contact-top {
    max-width: 100%;
  }
  .footer__contact-bottom:before {
    width: 100%;
  }
  .footer__form {
    max-width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 660px) {
  .body {
    font-size: 17px;
  }

  .box {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .container {
    text-align: center;
  }
  .container.image-right {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container.image-right .image {
    padding: 0;
    max-width: 100%;
  }
  .container.image-left {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container.image-left .image {
    padding: 0;
    max-width: 100%;
  }

  .content-with-image-wrapper {
    display: block;
  }
  .content-with-image-wrapper .content-text {
    text-align: left;
  }
  .content-with-image-wrapper .image {
    max-width: 320px;
  }

  .intro {
    text-align: center;
  }
  .intro__header {
    font-size: 30px;
  }

  .task__container {
    padding-right: 0;
  }

  .solution__header--underlined:after,
  .informational-service__header--underlined:after,
  .help__header--underlined:after,
  .integration__header--underlined:after {
    left: calc(50% - 27px);
  }

  .informational-service__shifted-header-wrapper,
  .integration__shifted-header-wrapper {
    padding-left: 0;
  }

  .feedback__quote-box {
    margin-top: 50px;
  }
  .feedback__quote-text {
    margin-bottom: 40px;
    padding: 0;
    max-width: 100%;
  }
  .feedback__quote-text:before {
    top: -40px;
    left: calc(50% - 16px);
  }
  .feedback__quote-text:after {
    bottom: -85px;
    left: calc(50% - 16px);
    right: auto;
  }
  .feedback__quote-author {
    padding-left: 0;
  }
}
@media screen and (max-width: 570px) {
  .header__mobile-phone-wrapper {
    display: none;
  }

  .intro {
    padding-bottom: 380px;
    background: url(../img/bridge-small.png) 0 100px no-repeat #f4f4f6;
  }
  .intro__devices {
    position: absolute;
    right: 0;
    width: 278px;
    height: 379px;
    background: url(../img/devices-small.png) 0 200px no-repeat;
  }

  .task__block {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0 40px;
  }
}
